<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    {% if student.picture.url %}
    <table class="table table-dark">
      <tbody>
        <tr>
          <td>Profile pic:</td>
          <td><img src="{{ student.picture.url }}" alt="Image Not Available" width="100px" height="100px"/></td>
        </tr>
      </tbody>
    </table>

    {% endif %}
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Name:</td>
          <td>{{ student.name }}</td>
        </tr>
        <tr>
          <td>Roll No:</td>
          <td>{{ student.roll_no }}</td>
        </tr>
          <tr>
            <td>Phone:</td>
            <td>{{ student.phone_no }}</td>
          </tr>
          <tr>
            <td>Parent Name:</td>
            <td>{{ student.parent_name }}</td>
          </tr>
          <tr>
            <td>Parent Phone:</td>
            <td>{{ student.parent_phone }}</td>
          </tr>
          <tr>
          <td>Email:</td>
          <td>{{ student.email }}</td>
        </tr>
        <tr>
          <td>Department:</td>
          <td>{{ student.department }}</td>
        </tr>
        <tr>
          <td>Class:</td>
          <td>{{ student.Class }}</td>
        </tr>
        <tr>
          <td>Year:</td>
          <td>{{ student.year }}</td>
        </tr>
        <tr>
          <td>Bus No:</td>
          <td>{{ student.bus_no }}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{ student.address1 }}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{ student.city }}</td>
        </tr>
      </tbody>




    </table>
  </body>
</html>
