<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/studentdetail.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  </head>
  <body>
    <h2>Details of all students from {{ dept }} - {{ class }} ( year - {{ year }})</h2>
    <div class="container content">

      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>Roll No</th>
          <th>Name</th>
          <th>Delete</th>
        </tr>
        </thead>
        {% for user in users %}
        <tbody>
        <tr class="table-info">
          <td>{{ user.roll_no }}</td>
          <td>{{ user.name }}</td>
          <td><a href="/teacher/delete/{{ user.id }}"><button class="btn btn-danger" type="button"> Delete </button></a></td>
        </tr>
      </tbody>
      {% endfor %}
      </table>

  </div>

  </body>
</html>
