.buttons{

  margin-top: 7%;
  margin-left: 35%;
  text-align: center;
  background-color: #8B96CA;
  position: absolute;
  padding: 10%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #888888;

}


button{

 box-shadow: 1px 1px 2px #888888;
 padding: 10px;
 margin: 10px;

}
